.new-experience {
  width: 100%;
}
.new-experience .friend-field {
  margin: 10px;
}
.new-experience .is-centered {
  justify-content: center;
}
.new-experience .add-friend .input {
  width: 500px;
}
.new-experience .columns {
  display: flex;
  margin: 20px;
  justify-content: space-around;
}
.new-experience .add-friend {
  margin: 30px auto 20px auto;
  background-color: rgba(248, 248, 255, 0.392);
  width: 80%;
}
.new-experience .column-one,
.column-two {
  width: 50%;
  padding: 20px;
}
.new-experience .column-two {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  padding-left: 60px;
}
.new-experience .column-two .label {
padding: 0;
}
.new-experience .friend-title,
.experience-title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.new-experience .field.is-horizontal {
  display: flex;
  justify-content: space-evenly;
}
.new-experience .control {
  display: flex;
  justify-content: center;
}
.new-experience .css-2b097c-container {
  width: 500px;
}
.new-experience .label {
  font-weight: bold;
  color: hsl(0, 0%, 0%);
  text-align: left;
  padding-left: 80px;
}
.new-experience .calendar {
  text-indent: 5px;
    padding: 5px;
    font-size: 16px;
}
.new-experience .buttons {
  justify-content: center;
}