.new-experience {
  width: 100%;
  background-color: rgba(248, 248, 255, 0.392);

}
.friend-field {
  margin: 10px;
}
.is-centered {
  justify-content: center;
}
.add-friend.input {
  width: 800px;
}
.columns {
  display: flex;
  margin: 20px;
  justify-content: space-around;
}
.add-friend .add-experience {
  background-color: rgba(248, 248, 255, 0.392);

}
.column-one, .column-two {
  width: 50%;
  padding: 20px;
}