.card {
  margin: 10px;
}

  a:link.icons {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover.icons {
    background-color: gainsboro;
    text-decoration: underline;
  }
  
  a:active.icons {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
