.card {
  margin: 12px;
}

.card .image:hover {
  opacity: 0.7;
}
.card .icon {
  width: 30px;
  height: 30px;
}
.card .mdc-button:not(:disabled) {
  color: hsl(43, 100%, 47%);
  color: var(--mdc-theme-primary, #eeb600);
}