.homepage {
  color: black;
}
.homepage h1 {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  text-shadow: floralwhite;
  padding-bottom: 40px;
}
.homepage h2 {
  font-size: 2rem;
}
.homepage .label{
  font-weight: bold;
}
.homepage .field.is-grouped {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}