.navbar is-fixed-top .nav-style .header {
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar is-fixed-top .nav-style .header img {
	margin-right: 20px;
}
.navbar is-fixed-top {
	background: rgba(255, 239, 227, 0.7);
	height: 40px;
}
.navbar is-fixed-top .navbar-link, a.navbar-item {
	font-size: 1.2rem;
}
.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
	background: rgba(254, 179, 121, 0.5);
color: black;
}
